
html {
  font-size: 62.5%;
  color: floralwhite;
  background-image: url(bg.jpg);
  background-attachment: fixed;
  background-color: #000000dd;
}
html,
body {
  font-family: Verdana, sans-serif ;
  font-weight: 300;
  line-height: 1.4;
  scroll-behavior: smooth;
}
body {
  font-size: 1.4rem;
}


main {
  max-width: 1200px;
  margin: 0 auto;
}


a {
  text-decoration: none;
  color: #000;
}

hr.new1 {
  border: 2px solid rgb(126, 125, 125);
}

.box div:hover img {
  transition: transform 1s;
  transform: scale(1.1);
}

/* first Section */

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top_content h1 {
  font-size: 65px;
  line-height: 1;
}
.top_content h4 {
  font-size: 40px;
  font-weight: 300;
}

.top img {
  border-radius: 5rem;
  padding-right: 10px;
}

/* Long Cards */

.card {
  display: flex;
  margin: 15rem 5rem;
  color: floralwhite;
  box-shadow: 10px 10px 3px rgba(192, 187, 187, 0.77);
  align-items: center;
  border: 2px solid #cdcdcd;
  border-radius: 5rem;
  overflow: hidden;
}

.card_content {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.status {
  display: flex;
  justify-content: space-between;
}

/* small cards */

.v-card {
  display: flex;
  flex-direction: column-reverse;
  max-width: 320px;
  color: floralwhite;
  box-shadow: 8px 8px 3px rgba(192, 187, 187, 0.77);
  align-items: center;
  border: 2px solid #cdcdcd;
  border-radius: 2rem;
  overflow: hidden;
  justify-content: center
}

.card_container {
  margin: 15rem 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.v-card img {
  width: 100%;
  height: 100%;
}

/*individual page cards*/

.card-2 {
  color: floralwhite;
  display: flex;
  margin: 10rem 5rem;
  align-items: center;
  border-radius: 6rem;
  border: 2px solid #cdcdcd;
  overflow: hidden;
  justify-content: center;
}

.card_content-2 {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
